@charset "UTF-8";
@font-face{
    font-family: asap_bold;
    src: url('../fonts/Asap-Bold.ttf');
}
@font-face{
    font-family: asap_regular;
    src: url('../fonts/Asap-Regular.ttf');
}
@font-face{
    font-family: asap_medium;
    src: url('../fonts/Asap-Medium.ttf');
}
@font-face{
    font-family: asap_semibold;
    src: url('../fonts/Asap-SemiBold.ttf');
    
}