.products{
    .products_bigtext{
        position: absolute;
        margin-top: 1300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .products_h2{
            font-family: asap_semibold;
            font-size: 200px;
            color: #f2f2f2;
        }
        @media only screen and(max-width: 1780px){
            display: none;
        }
    }
    background-image: url('../imgs/background/background-products2.png');
    margin-top: -300px;
    background-repeat: no-repeat;
    background-size: cover;
    .products-title{
        padding-top: 180px;
        .title{
            @media only screen and(max-width: 575px){
                margin-top: 60px;
            }
            .products-title-h{
                font-size: 50px;
                font-family: asap_semibold;
                color: #000000;
                @media only screen and(max-width: 634px){
                    font-size: 40px;
                }
            }
            .products-title-p{
                font-size: 24px;
                font-family: asap_regular;
                color: #aeaeae;
                @media only screen and(max-width: 634px){
                    font-size: 18px;
                }
            }
        }
        .products-title-button{
            float: right;
            @media only screen and(max-width: 634px){
                margin-top: 0px;
                
            }
            @media only screen and(max-width: 575px){
                float: unset;
                
            }
        }
    }
    .all-products{
        padding-bottom: 220px;
        padding-top: 10px;
        .all-products-item{
            .items-product{
                margin-top: 60px;
                background-color: #ffffff;
                border-radius: 30px;
                box-shadow: 0 1px 5px -2px #eeeeee;
                .image-product{
                    position: relative;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .background-image{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: none;
                        .display-background-image{
                            z-index: 2;
                            background: rgba(0,0,0,0.5);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            i{
                                color: #ffffff;
                                font-size: 50px;
                            }
                        }
                    }
                    &:hover{
                        .background-image{
                            display: unset;
                            
                        }
                    }
                }
                .content-product{
                    padding: 30px;
                    .title-product{
                        font-family: asap_semibold;
                        font-size: 24px;
                        color: #000000;
                        cursor: pointer;
                    }
                    .author-product{
                        font-family: asap_regular;
                        font-size: 18px;
                        color: #a0a0a0;
                    }
                    .description-product{
                        font-family: asap_regular;
                        font-size: 16px;
                        color: #626262;
                    }
                    .detail-product{
                        /*.detail-product-a{
                            .detail-product-button{
                                border: 0px;
                                background-color: #efefef;
                                padding: 15px;
                                border-radius: 10px;
                                margin-top: 10px;
                                cursor: pointer;
                                overflow: visible;
                                max-width: 150px;
                                .detail-product-p{
                                    font-family: asap_semibold;
                                    color: #515151;
                                    margin-bottom: 0px;
                                    text-align: center;
                                }
                                &:hover{
                                    background-color: #000000;
                                    .detail-product-p{
                                        color: #ffffff;
                                    }
                                }
                            }
                        }*/
                        .detail-product-a{
                            display: block;
                            border: 0px;
                            background-color: #efefef;
                            padding: 15px;
                            border-radius: 10px;
                            margin-top: 10px;
                            cursor: pointer;
                            overflow: visible;
                            max-width: 150px;
                            text-decoration: none;
                            .detail-product-p{
                                font-family: asap_semibold;
                                color: #515151;
                                margin-bottom: 0px;
                                text-align: center;
                            }
                            &:hover{
                                background-color: #000000;
                                .detail-product-p{
                                    color: #ffffff;
                                }
                            }        
                        }
                        .evaluate-product{
                            float: right;
                            display: flexbox;
                            flex-direction: row;
                            margin: 22px 0px 22px 0px;
                            i{
                                color: #ffc22c;
                            }
                            @media only screen and(max-width: 575px){
                                float: left;
                            }
                        }
                    }
                }
            }
            @media only screen and(max-width: 768px){
                margin-left: auto;
                margin-right: auto;
            }
            .product_pagination{
                padding-top: 90px;
                margin-left: auto;
                margin-right: auto;
                .product_pagination_box{
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .products_panigation_button{
                        display: block;
                        padding: 20px 30px;
                        border-radius: 15px;
                        background-color: #ffffff;
                        margin-right: 20px;
                        font-family: asap_medium;
                        font-size: 18px;
                        color: #000000;
                        cursor: pointer;
                        box-shadow: 0 1px 5px -2px rgba(42,42,42,.4);
                        &:hover{
                        background-color: #ffcc2d;
                        color: #ffffff;
                       
                        }
                    }
                }
            }   
        }
    }
    
}