.content-button{
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 0px;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px -2px rgba(42,42,42,.4);
    border-radius: 10px;
    outline: none;
    max-width: 221px;
    color: #000000;
    @media only screen and(max-width: 575px){
        float: left;
    }
    .content-button-p{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
        font-family: asap_medium;
    }
    .content-button-img{
        padding-left: 22px;
    }
    &:hover{
        background-color: #ffcc2d;
        p{
            color: #ffffff;
        }
    }            
}
.button-cicle{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    max-width: 175px;
    max-height: 175px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 3px dashed #ffffff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and(max-width: 768px){
        width: 135px;
        height: 135px;
    }
    .button-cicle-icon{
        width: 125px;
        height: 125px;
        max-width: 125px;
        max-height: 125px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and(max-width: 768px){
            width: 100px;
            height: 100px;
        }
        img{
            width: 40px;
        }
    }
}